.nav {
  position: relative;
  display: flex;
  background-color: color(primary);
  color: color(secondary);
  padding: 10px;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-logo {
  height: 40px;

  path {
    fill: color(secondary);

    &:first-of-type {
      fill: color(tertiary);
    }
  }
}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: calc(100vh - 116px);

  display: flex;
  flex-direction: column;
  align-items: center;

  clip-path: circle(0 at 100% -40px);
  transition: clip-path 0.5s ease-in-out;

  background: color(primary);
  border-top: 2px solid color(secondary);

  list-style: none;
  margin: 0;
  padding: 20px;
  font-size: 20px;

  li {
    margin-top: 20px;

    a {
      text-decoration: none;
      transition: color 0.2s;
      color: inherit;

      &:hover {
        color: color(tertiary);
      }
    }
  }

  &.open {
    clip-path: circle(200% at 100% -40px);
  }
}

.hamburger {
  position: relative;
  background: none;
  border: none;
  width: 30px;
  height: 25px;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }

  span {
    display: block;
    width: 100%;
    height: 4px;
    background: color(secondary);
    position: absolute;
    transition: transform 0.2s ease-in-out;

    &.hamburger-1 {
      top: 50%;
      transform: translateY(-300%);
    }

    &.hamburger-2 {
      transition-property: transform, opacity;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }

    &.hamburger-3 {
      top: 50%;
      transform: translateY(200%);
    }
  }

  &.open {
    .hamburger-1 {
      transform: translateY(-50%) rotate(45deg);
    }

    .hamburger-2 {
      transform: translate(100%, -50%);
      opacity: 0;
    }

    .hamburger-3 {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

@include mq($from: tablet) {
  .nav {
    justify-content: initial;
  }

  .hamburger {
    display: none;
  }

  .nav-links {
    display: flex;
    clip-path: none;
    position: initial;
    height: auto;
    background: none;
    border: none;
    flex-direction: row;
    padding: 0;

    li {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}
