.nav {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;
}

.logo path {
  fill: #fff;
}

.logo path:first-of-type {
  fill: #ddd;
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.links li a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.social li {
  margin: 0 0.5rem;
}

.social svg {
  height: 2rem;
  fill: #fff;
}
