.nav {
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  height: 2rem;

  path {
    fill: #fff;

    &:first-of-type {
      fill: #ddd;
    }
  }
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;

  li {
    margin-right: 2rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;

  li {
    margin: 0 0.5rem;
  }

  svg {
    height: 2rem;
    fill: #fff;
  }
}
