.nav {
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;

  path {
    fill: #000;
  }
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  text-transform: uppercase;

  > li {
    margin-right: 2rem;
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
