@import '../styles/tools';

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq($from: desktop) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.image {
  width: 100%;
  max-width: 30rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  animation: bounce 5s ease-in-out forwards infinite;
}

.text {
  text-align: center;
}
.icons {
  display: grid;
  grid-template-columns: 1.5rem 1.5rem 1.5rem;
  grid-gap: spacing(delta);
  justify-content: center;

  svg {
    fill: #000;
  }
}
@include mq($from: desktop) {
  .panel {
    flex-direction: row;
    justify-content: flex-start;
  }
  .text {
    text-align: left;
    padding-left: spacing(beta);
  }
  .icons {
    justify-content: start;
  }
}
